# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual environment
venv/
ENV/
env/
Pipfile.lock

# Django stuff:
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3

# Media and static files (if you don't want to track uploads)
media/
staticfiles/

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
